

@{
    ViewBag.Title = "Contact";
}
@model Basistrainint.RM.WebApplication.Models.PersonViewModel
<h2>Contact</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="tabletable-bordered table-striped table-hover">
    <tr>
        <th>UserID</th>
        <th>Fullname</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Edit</th>

    </tr>

    @foreach (var item in Model.people)
    {
        <tr>
            <td>
                @Html.Raw(item.PersonID)
            </td>
            <td>
                @Html.Raw(item.fullname)
            </td>
            <td>
                @Html.Raw(item.firstname)
            </td>
            <td>
                @Html.Raw(item.lastname)
            </td>
            <td>
                @Html.ActionLink("update", "home", "update", Html.Raw(item.PersonID));

            </td>
            <td>
                @Html.ActionLink("delete","home","update",Html.Raw(item.PersonID));
            </td>
        </tr>
    }

</table>
